---
title: Contact the anynines Team
owner: Partners
---

## <a id="support"></a>Support

Commercial support with a service-level agreement is available for the commercial license.

The entire anynines team will help your team get started and use the product successfully.

If your company has specific and applicable administration policies or configuration best practices, the anynines team is happy to incorporate them.

## <a id=feedback"></a>Feedback

Please provide any bugs, feature requests or questions to <a href="mailto:dssupport@anynines.com">dssupport@anynines.com</a>.

## <a id="license"></a>License

For information about commercial licenses and support, please contact our <a href="mailto:dssupport@anynines.com">sales team</a>.
