---
title: DNS Integration via Delegation
owner: Partners
---

<p class="note">We recommend to use this pattern for production setups.</p>

If this integration pattern should be used, you must be able to configure a DNS delegation in your existing nameserver.

Per default each hostname that should be resolved by the a9s Consul DNS for PCF ends with ".a9svs" (this top level domain can be changed in the tile config). So each DNS lookup containing a hostname which ends with the configured top level domain (a9svs per default) should be delegated to the nameserver within the a9s Consul DNS tile.

Before you can configure the DNS delegation you must install the a9s Consul DNS for PCF tile and find out the IP addresses of the nameserver (see instructions below).

##<a id='install'></a> 1. Add/configure the a9s Consul DNS tile for PCF

Complete the following steps to download and install a9s BOSH for PCF.

1. Download the product file from the [Pivotal Network](https://network.pivotal.io).

2. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

3. Click **Add** next to the uploaded a9s BOSH for PCF tile in the Ops Manager
**Available Products** view to add it to your staging area.

4. Click the a9s Consul DNS for PCF tile.

5. Click on **Assign AZs and Networks** and assign a network and AZs that should be used for this tile.

6. Click **Upstream Nameservers**.

7. In the **General upstream nameservers** field, enter your default name servers. These name servers resolve DNS queries except those from the following targets:
    * Domain-specific name servers that will be defined in the **Domain Specific Nameservers** field
    * Hosts containing the `.a9svs` pattern in the hostname, which is reserved for services provided by anynines
     <img src="./images/general-upstream-name-servers-config.png" alt="screenshot of upstream name servers configuration" />

8. Perform the following procedure for each additional domain you want to add:

  1. Click **Add** to add a domain-specific name server.
      <img src="./images/domain-specific-name-servers-config.png" alt="Screenshot of domain specific name servers configuration" />
  2. In the **Domain** field enter an internal domain or top-level domain.
  3. In the **Nameservers** field enter a corresponding name server. The name server resolves DNS queries matching the domain. For example, this could be the name server of your specific provider or data center. When using vSphere, this could be an internal name server that resolves vSphere host names.</pre>

9. Click **Save**.

10. Return to the Installation Dashboard and click **Apply changes** to deploy the service.

##<a id='discover-consul-ips'></a> 2. Find out the IP addresses of the dnsmasq servers within the a9s Consul DNS for PCF tile

Once the tile is installed successfully it is required to find out the IP addresses of the nameserver within the a9s Consul DNS for PCF tile in order to setup the DNS delegation in your company's nameservers.

For this reason click on the **a9s Consul DNS** tile and then to **Status**. It takes a few seconds until the required information are displayed.

Remember the three IP addresses of the dnsmasq servers.

<img src="./images/pcf-a9s-consul-dns-status-page.png" alt="screenshot of a9s Consul DNS for PCF tile" />

##<a id='configure-dns-delegation'></a> 3. Setup DNS Delegation within your existing nameservers

Talk to the administrator of your company's nameserver to setup a delegation of a9s Consul DNS hostnames. The hostnames of these queries end with "a9svs" per default and must be delegated to the IP addresses of the dnsmasq server within the a9s Consul DNS tile.

<p class="note">The domain used by the a9s Consuld DSN tile (a9svs) can be changed in the Consul DNS tile settings.</p>
