---
title: a9s Consul DNS for PCF
owner: Partners
---

This documentation describes installing, configuring, and using the a9s Consul DNS for Pivotal Cloud Foundry (PCF) tile.

<img src="./images/consul-icon-a9s@2x_1.png" alt="a9s Consul DNS for PCF logo" height="215" width="215" />

## <a id="overview"></a>Overview

The a9s Consul DNS for PCF tile provides a highly available DNS service including a Consul cluster as well as additional Dnsmasq servers for service discovery and service failover procedures.

Consul is a highly available (HA) service discovery and configuration tool, which includes features such as failure detection, an HA key/value store, and an HA DNS service
that you can control through a HTTP-based REST interface.

This service is used and required by the a9s DataService tiles for PCF, such as 
[a9s Elasticsearch for PCF](https://network.pivotal.io/products/a9s-elasticsearch), [a9s MongoDB for PCF](https://network.pivotal.io/products/a9s-mongodb), or [a9s PostgreSQL for PCF](https://network.pivotal.io/products/a9s-postgresql), to advertise its service instances and service broker to the Pivotal Elastic Runtime.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about a9s Consul DNS for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>March 14, 2017</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.7.x, v1.8.x, and v1.9x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.7.x, v1.8.x, and v1.9x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Services (PAS)* version(s)</td>
        <td>v2.0.0</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, OpenStack, and vSphere</td>
    </tr>
</table>
\* As of PCF v2.0, <em>Elastic Runtime</em> is renamed <em>Pivotal Application Service (PAS)</em>. If your tile supports PCF 2.0, it will use PAS, not Elastic Runtime.

## <a id="see-also"></a>See Also

For general information about Consul, see <a href="https://www.consul.io/" target="_blank">Consul by HashiCorp</a>.
