---
title: Installing the a9s Consul DNS for PCF
owner: Partners
---

This section briefly explains the possible integration patterns of the a9s Consul DNS for Pivotal Cloud Foundry (PCF) tile.

## Choose an Integration Pattern

Before you continue with the installation procedure you must decide how to make a9s Consul DNS available in Pivotal Elastic Runtime (ERT). This means when an app, which is deployed to ERT, resolves an a9s Consul DNS managed hostname, this DNS query must be redirected to the nameserver of the a9s Consul DNS for PCF tile.

<b>Example</b>: When you look at a service binding of an a9s PostgreSQL for PCF service instance, or any a9s service, you will see a hostname like this: `d5275ef-psql-master-alias.node.dc1.a9svs`. Whenever an app resolves a hostname ending with '.a9svs', the DNS request should be passed to the a9s Consul DNS tile.

To achieve this you can choose between the following integration patterns:

<ul>
  <li><a href="/a9s-consul/deligation-integration.html">DNS Integration via Delegation</a></li>
  <li><a href="/a9s-consul/opsman-integration.html">DNS Integration via PCF Ops Manager Director Network Configuration</a></li>
</ul>
