---
title: Installing and Configuring the a9s Consul DNS for PCF
owner: Partners
---

This topic describes how to install and configure the a9s Consul DNS for PCF.

<p class="note">
<strong>Note</strong>:
The installation of the a9s Consul DNS for PCF tile on a single AZ requires the
creation of an extra network with a subnet. This network will be used to host
the consul VMs and needs to be present during the installation procedure.
This is further explained in <a href="#single-azs">Strategy for a Single AZ</a>.
</p>

##<a id='install'></a> Install a9s Consul DNS for PCF

Complete the following steps to download and install a9s BOSH for PCF.

1. Download the product file from the [Pivotal Network](https://network.pivotal.io).

2. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

3. Click **Add** next to the uploaded a9s BOSH for PCF tile in the Ops Manager
**Available Products** view to add it to your staging area.

1. After the tile is installed, continue to the [Configure the a9s Consul DNS for PCF](#configure) section.

##<a id='configure'></a> Configure a9s Consul DNS for PCF

Complete the following steps to configure a9s Consul DNS for PCF.

1. Click the a9s Consul DNS for PCF tile.

2. Click **Upstream Nameservers**.

3. In the **General upstream nameservers** field, enter your default name servers. These name servers resolve DNS queries except those from the following targets:
    * Domain-specific name servers that will be defined in the **Domain Specific Nameservers** field
    * Hosts containing the `.a9svs` pattern in the hostname, which is reserved for services provided by anynines
     <img src="./images/general-upstream-name-servers-config.png" alt="screenshot of upstream name servers configuration" />

4. Perform the following procedure for each additional domain you want to add: 

  1. Click **Add** to add a domain-specific name server.
      <img src="./images/domain-specific-name-servers-config.png" alt="Screenshot of domain specific name servers configuration" />
  1. In the **Domain** field enter an internal domain or top-level domain.
  1. In the **Nameservers** field enter a corresponding name server. The name server resolves DNS queries matching the domain. For example, this could be the name server of your specific provider or data center. When using vSphere, this could be an internal name server that resolves vSphere host names.</pre>

6. Click **Save**.

7. Return to the Installation Dashboard and click **Apply changes** to deploy the service.

8. After the service is deployed, continue to the [Register the a9s Consul DNS for PCF](#register) section.

##<a id='register'></a> Register a9s Consul DNS for PCF

Complete the following steps to register the a9s Consul DNS for PCF as the default DNS in your subnets. 

1. Navigate to the Ops Manager Installation Dashboard.

2. Click the **a9s Consul DNS for PCF** tile.

3. Click the **Status** tab.

4. Record the IP addresses of the **dnsmasqs**.

5. Return to the **Installation Dashboard**.

6. Click the **Ops Manager Director** tile.

7. Click **Create Networks**.

8. Under **Networks**, expand your previously configured networks.

9. In your **Subnets**, replace the entry for DNS with the IP addresses of your
dnsmasq VMs that do not belong to the same network. 
You cannot register the dnsmasq instance as a name server in the same subnet as it was deployed to. 
For more information, see [Understand DNS Configuration for a Subnet](#dns-subnet).

###<a id='dns-subnet'></a> Understand DNS Configuration for a Subnet

You can use a9s Consul DNS for PCF with multiple availability zones (AZs) or a single availability zone. 
Use one of the following strategies for your installation:

* [Strategy for Multiple AZs](#multiple-asz)
* [Strategy for a Single AZ](#single-azs)

<p class="note"><strong>Note</strong>: You cannot use an a9s Consul DNS server as a name server within the specific subnet where its VM has been provisioned.</p>

####<a id='multiple-asz'></a> Strategy for Multiple AZs

In a highly available configuration, you must configure three infrastructure AZs, with one AZ per subnet. To make a9s Consul DNS for PCF highly available, you must also distribute three DNS nodes across the AZs.

<p class="note"><strong>Note</strong>: If you are working in a production environment, ensure that each of your a9s Consul DNS Dnsmasq servers is deployed in a different AZ to ensure resilience against the failure of a single AZ.</p>

Consult the following example for a possible multi-AZ configuration:

* Three networks each with one subnet located in three different AZs (`net-az1`, `net-az2`, `net-az3`)
* IPs from the a9s Consul DNS Dnsmasqs deployed in networks `net-az2` and `net-az3` as DNS in `net-az1` 
* IPs from the a9s Consul DNS Dnsmasqs deployed in networks `net-az3` and `net-az1` as DNS in `net-az2` 
* IPs from the the a9s Consul DNS Dnsmasqs deployed in networks `net-az1` and `net-az2` as DNS in `net-az3`

The following table illustrates a multi-AZ deployment:

| a9s Consul Dnsmasq IP | Network | Subnet AZ |
|-----------------------|---------|-----------|
| `172.28.4.40` | `net-az1` | `AZ1` |
| `172.28.5.40` | `net-az2` | `AZ2` |
| `172.28.6.40` | `net-az3` | `AZ3` |

The above deployment can be configured with the following DNS:

| Network | Subnet CIDR | DNS |
|---------|-------------|-----|
| `net-az1` | `172.28.4.0/24` | `172.28.5.40, 172.28.6.40` |
| `net-az2` | `172.28.5.0/24` | `172.28.4.40, 172.28.6.40` |
| `net-az3` | `172.28.6.0/24` | `172.28.4.40, 172.28.5.40` |

Each subnet is configured to use all a9s Consul DNS Dnsmasq servers except the one located in it.

If an AZ fails, the service remains highly available because the name server of the AZ fails along with the AZ.

####<a id='single-azs'></a>Strategy for a Single AZ

If you have access to only one AZ, you must use the dedicated network
you created before the installation to host a9s Consul DNS for PCF. The following
table illustrates an example network called `consul-net`, configured to use the
upstream DNS server `109.234.108.234`:

| a9s Consul dnsmasq IP | Network | Subnet AZ |
|-----------------------|---------|-----------|
| `172.28.4.41` | `consul-net` | `AZ1` |
| `172.28.4.42` | `consul-net` | `AZ1` |
| `172.28.4.43` | `consul-net` | `AZ1` |

The above deployment can be configured with the following DNS:

| Network | Subnet CIDR | DNS |
|---------|-------------|-----|
| `net1` | `172.28.4.0/24` | `172.28.4.41, 172.28.4.42, 172.28.4.43` |
| `net2` | `172.28.5.0/24` | `172.28.4.41, 172.28.4.42, 172.28.4.43` |
| `net3` | `172.28.6.0/24` | `172.28.4.41, 172.28.4.42, 172.28.4.43` |
| `consul-net` | `172.28.4.0/24` | `109.234.108.234` |

##<a id='uninstall'></a> About Uninstalling a9s Consul DNS for PCF

Before uninstalling a9s Consul DNS for PCF, don't forget to remove the IPs
of the dnsmasqs VM that you used as resolvers in the IaaS network settings.

