---
title: Terms for Proof of Concept Installations
owner: Partners
---

You can <a href="https://network.pivotal.io/products/a9s-consul" target="_blank">download</a>, install, and evaluate the <b>a9s Consul DNS for PCF</b> tile for 30 days without buying a licence. Please contact our sales team at <a href="http://data-services.anynines.com/sales" target="_blank">data-services.anynines.com/sales</a> if you need a longer evaluation period.
