---
title: Terms for Evaluation Usage
owner: Partners
---

You can <a href="https://network.pivotal.io/products/a9s-consul" target="_blank">download</a>, install, and evaluate the <b>a9s Consul DNS for PCF</b> tile for 30 days without buying a license. Contact the [anynines sales team](http://data-services.anynines.com/sales) if you require a longer evaluation period.
