---
title: Terms for Evaluation Usage
owner: Partners
---

You can <a href="https://network.pivotal.io/products/a9s-consul" target="_blank">download</a>, install, and evaluate the <b>a9s Consul DNS for PCF</b> tile for 30 days without buying a license. Contact our <a href="mailto:dssupport@anynines.com">sales team</a> if you require a longer evaluation period.
